<nav class="breadcrumbs">
	<div class="container">
	{% assign crumbs = page.url | split: "/" %}
		<ul>
			<li><a href="{{ site.baseurl | default "/" }}">Home</a>&nbsp;<i class="fa fa-chevron-right"></i></li>
			{% for crumb in crumbs offset: 1 %}
				{% if forloop.last %}
					<li class="active">{{ page.title }}</li>
				{% else %}
					<li>
						<a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">
							{{ crumb | replace:'-',' ' | capitalize }}
						</a>&nbsp;<i class="fa fa-chevron-right"></i>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</nav>
