{% include header.html %}
{% include head.html %}
{% include hero.html heading=page.heading sub_heading=page.sub_heading description=page.description button=page.hero_button %}
<section class="services">
	<div class="container pure-g">
	{% for item in page.services %}
  <div class="pure-u-1 pure-u-md-1-2">
		<div class="service">
			<div class="service-icon"><img src="{{ item.icon | relative_url }}" alt=""></div>
			<h2>{{ item.heading }}</h2>
			<p>{{ item.description }}</p>
		</div>
  </div>
	{% endfor %}
	</div>
</section>
<section class="news-twitter">
	<div class="container pure-g">
		<div class="pure-u-1 pure-u-md-1-2">
			<div class="col-wrap twitter-wrap">
				<h2>Twitter</h2>
				<a class="twitter-timeline" data-height="300" data-dnt="true" data-tweet-limit="1" data-dnt="true" data-chrome="noheader nofooter noborders transparent noscrollbar" href="https://twitter.com/{{ site.data.information.twitter}}"></a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		</div>
		<div class="pure-u-1 pure-u-md-1-2">
			<div class="col-wrap">
				<h2>Latest News</h2>
				<ul class="posts">
				  {% for post in site.posts limit:3 %}
				    <li>
				    	<a href="{{ post.url | relative_url }}">{{ post.title }}</a>
				    	<date>{{ post.date | date_to_string }}</date>
				    	<date>{{ post.sub-title }}</date>
				    </li>
				  {% endfor %}
				</ul>
				<a href="{{ "/posts/" | absolute_url }}" class="button-outline pure-button">More News <i class="fa fa-chevron-right"></i></a>
			</div>
		</div>
	</div>
</section>
<section class="partners">
	<div class="container">
		<h2>Funding Partners</h2>
		<div class="flexslider">
		  <ul class="slides">
		  	{% for logo in page.partners %}
					<li>
					  <img src="{{ logo | relative_url }}" alt="{{ logo }}" />
					</li>
		  	{% endfor %}
		    <!-- items mirrored twice, total of 12 -->
		  </ul>
		</div>
	</div>
</section>
{% include footer.html %}