---
layout: default
---

<div class="table-layout">
	<div class="">
		<table id="publications" class="tablesorter data-table" data-page-length="20">
			<thead>
				<tr>
					<th>Name <i class="fa"></i></th>
					<th>Date <i class="fa"></i></th>
					<th>Author <i class="fa"></i></th>
					<th>Project <i class="fa"></i></th>
				</tr>
			</thead>
			<tbody>
				{% for publication in site.publications %}
				<tr>
					{% if publication.PDF and publication.PDF != "" %}
			      <td><a href="{{ publication.PDF | absolute_url }}" target="_blank">{{ publication.title | slice: 0, 40 }}</a></td>
			    {% else if publication.link and publication.link != "" %}
			      <td><a href="{{ publication.link | absolute_url }}" target="_blank">{{ publication.title | slice: 0, 40 }}</a></td>
					{% else %}
						<td>{{ publication.title | slice: 0, 40 }}</td>
			    {% endif %}
					<td><date>{{ publication.date | date_to_string }}</date></td>
					<td>
					{% for item in publication.author %}
						{% assign associated_author = site.people | where:"path", item %}
							{% for author in associated_author %}
									{% if author.title and author.title != "" %}
										{{ author.title }}
									{% else %}
										<!-- do nothing -->
									{% endif %}
							{% endfor %}
					{% endfor %}
					</td>
					<td>
						{% for item in publication.project %}
				      {% assign related_projects = site.projects | where:"path", item %}
				        {% for project in related_projects %}
				            {% if project.title and project.title != "" %}
				              {{ project.title }}
				            {% else %}
				              <!-- do nothing -->
				            {% endif %}
				        {% endfor %}
				    {% endfor %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
